.dashBoard-page {
  width: 100%;
  min-height: calc(100vh - 10.625rem);
}

.dashBoard-chart {
  width: 100%;
  // height: 31.25rem;
  margin: 0 auto;
}

.rev-values-container {
  display: grid;
  gap: 2.5rem;

  .ant-card-bordered {
    border: 0.0625rem solid #d0d0d0;
  }
}

.rev-value-card {
  width: 100%;
  .rev-value {
    font-size: 24px;
    max-width: 80%;
    display: inline-block;
    word-wrap: break-word;
  }

  .ant-card-meta-title {
    color: rgb(69, 78, 209);
  }
}

.chart-table-container {
  .ant-card-body {
    width: 100%;
    height: 500px;
  }
  .ant-card-type-inner .ant-card-head-title {
    font-size: 1.2rem;
    color: rgb(218, 86, 14);
  }
  .today-revenue {
    font-size: 1.1rem;
    font-weight: 700;

    .money {
      color: green;
      font-size: 1.35rem;
    }
  }
}

@media screen and (min-width: 860px) {
  .rev-values-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .rev-values-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1366px) {
  .rev-values-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .rev-values-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
