$navTextColor: rgba(0,0,0,0.65);
$navTextActiveColor: #050505;
$navBgActiveColor: #976d1a;
$heighAppHeader: 58px;
$heighPublicLayoutHeader: 64px;
$navSiderExpandedWidth: 230px;
$navSiderCollapsedWidth: 80px;
$spacingSection: 24px;